<h1>Services/Components Communication</h1>
<br />
<ul>
  <li>
    An "Event Bus" can provide a loosely coupled way to communicate between
    objects.
  </li>
  <li>
    Services can expose a Subject/BehaviorSubject/ReplaySubject that other
    services/components can subscribe to for changes.
  </li>
  <li>
    State management solutions can also be used,
    <b>BUT IS NOT PART OF THIS DEMO</b>.
  </li>
</ul>
<br />
<button (click)="addCustomer()" class="btn btn-primary">Add Customer</button>

<br />
<br />

<div class="row">
  <div class="col-md-6">
    <app-customers-list
      [customers]="customer$ | async"
      (customerSelected)="selected($event)"
    ></app-customers-list>
  </div>
  <div class="col-md-6">
    <app-customer-details [customer]="customer"></app-customer-details>
  </div>
</div>

<br />
<br />
